<!DOCTYPE html>
<html lang="ko">

<!-- {% include 'head.html' %} -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>청설모</title>
    <script src="includeHTML.js"></script>
    <link rel="stylesheet" href="/static/includeCSS.css">
</head>

<body>
    <!-- {% include 'header.html' %} -->
    <header include-html="header.html"></header>
    <!-- <hr> -->
    <!-- {% include 'messages.html' %}
    {% block content %}
    {% endblock %} -->

    <!-- <hr> -->

    <!-- {% include 'footer.html' %} -->
    <footer include-html="footer.html"></footer>

    <!-- {% block script %}
    {% endblock %} -->
</body>
<script>
    includeHTML();
</script>
</html>